// Navigation code here

// .container.nav {
//     display: flex;
//     h1 {
//         font-size: 5em;
//     }
//     a {
//         font-size: 3em;
//     }
// }

.container-nav {
    // border: 1px solid blue;
    .display-justify();
    flex-direction: column;
    h1 {
        align-self: center;
        font-size: 4rem;
        // border: 1px solid red;
    }
    nav {
        display: flex;
        justify-content: center;
        padding: 1%;
    }
        a {
            // border: 1px solid red;
            padding: 0% 2%;
            font-size: 1.5em;
            text-decoration: none;
}
}

//Nav bar

.navbar {
    overflow:hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a:hover{
    background: rgb(87, 133, 231);
    color: rgb(255, 255, 255);
    border-radius: 25px;
}
.container {
    margin-top: 30px;
}